@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-block-hack > span {
  display: block !important;
}

.image-h-full-hack > span {
  height: 100% !important;
}

input:focus-within ~ .label,
input:not(:placeholder-shown) ~ .label {
  @apply transform  -translate-y-4 duration-300  text-xs;
}

input:focus-within ~ .label {
  @apply text-primary-600;
}

textarea:focus-within ~ .label,
textarea:not(:placeholder-shown) ~ .label {
  @apply transform  -translate-y-4 duration-300  text-xs;
}

textarea:focus-within ~ .label {
  @apply text-primary-600;
}

.swiper-button-next {
  right: 10px !important;
}
.swiper-button-prev {
  left: 10px !important;
}

.swiper-button-next:after {
  font-size: 20px !important;
  color: white !important;
}

.swiper-button-prev:after {
  font-size: 20px !important;
  color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

@media (min-width: 768px) {
  .swiper-button-next:after {
    font-size: 25px !important;
  }
  .swiper-button-prev:after {
    font-size: 25px !important;
  }
  .swiper-button-next {
    right: 40px !important;
  }
  .swiper-button-prev {
    left: 40px !important;
  }
}

/* banner de para paginas */
.banner {
  background-image: url('/imgs/works/bannerproyecto.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 450px;
  position: relative;
}
.banner::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .banner {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .banner {
    height: 600px;
  }
}

/* banner de para proyectos */
.banner-proyectos {
  background-image: url('/imgs/works/bannerproyecto.jpg');
}
/* banner de para contactos */
.banner-contactos {
  background-image: url('/imgs/contactos/bennercontacto.jpg');
}
/* banner de para blogs */
.banner-blogs {
  background-image: url('/imgs/banner/bg-blog.jpg');
}
/* banner de para tienda */
.banner-tienda {
  background-image: url('/imgs/banner/bg-tienda.jpg');
}

.img-cover {
  background-image: url('/imgs/nosotros/about2.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}





.input-range__track {
  background: #ddd;
}

.input-range__track--active {
  background: #445378 !important;
}

.input-range__label-container{
  font-size: 0.65rem;
}
.input-range__label--value .input-range__label-container {

  color: #aaaaaa;
  font-size: 0.8rem;

  border-radius: 2px;
}

.input-range__slider{
  background: #445378 !important;
  border: none !important;
}

.scroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #dee2e6;
  border-radius: 5px;
}
