@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px; /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.image-block-hack > span {
  display: block !important;
}

.image-h-full-hack > span {
  height: 100% !important;
}

@keyframes animatedBackground {
  0 {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}
.animate-area {
  background-position: 0px 0px;
  background-repeat: cover;
  animation: animatedBackground 30s infinite alternate linear;
}

.icon-servicio:hover {
  display: none;
}
/* textarea:focus-within ~ .label,
textarea:not(:placeholder-shown) ~ .label {
  @apply transform  -translate-y-4 duration-300  text-xs;
}

textarea:focus-within ~ .label {
  @apply text-primary-600;
} */

.swiper-button-next {
  right: 10px !important;
}
.swiper-button-prev {
  left: 10px !important;
}

.swiper-button-next:after {
  font-size: 20px !important;
  color: white !important;
}

.swiper-button-prev:after {
  font-size: 20px !important;
  color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.translateRender {
  animation: render 2s ;
  animation-timing-function: ease-out; 
  animation-delay: 2s;
  display: inline-block

  /* 
  animation-name: bounce;
 animation-duration: 4s
 animation-iteration-count: 10;
 animation-direction: alternate; 
  */

  /* transform: translatey(-100px); */
  /* animate */
}

@keyframes render: {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 768px) {
  .swiper-button-next:after {
    font-size: 25px !important;
  }
  .swiper-button-prev:after {
    font-size: 25px !important;
  }
  .swiper-button-next {
    right: 40px !important;
  }
  .swiper-button-prev {
    left: 40px !important;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* banner de para paginas */
.banner {
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 450px;
  position: relative;
}
.banner::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .banner {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .banner {
    height: 600px;
  }
}

/* banner de para proyectos */
.banner-proyectos {
  background-image: url('/imgs/banner/bannerproyecto.webp');
}
/* banner de para contactos */
.banner-contactos {
  background-image: url('/imgs/banner/bannercontacto.webp');
}
/* banner de para blogs */
.banner-blogs {
  background-image: url('/imgs/banner/bg-blog.webp');
}
/* banner de para tienda */
.banner-tienda {
  background-image: url('/imgs/banner/bg-tienda.webp');
}

.img-cover {
  background-image: url('/imgs/nosotros/about2.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.input-range__track {
  background: #ddd;
}

.input-range__track--active {
  background: #445378 !important;
}

.input-range__label-container {
  font-size: 0.65rem;
  display: none;
}
.input-range__label--value .input-range__label-container {
  color: #aaaaaa;
  font-size: 0.8rem;

  border-radius: 2px;
}

.input-range__slider {
  background: #fff !important;
  border: 1px solid #445378;
}

.scroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #dee2e6;
  border-radius: 5px;
}

/* range selected */

.form {
  margin: 0 auto;
  padding: 100px 30px 0;

  @media (min-width: 800px) {
    max-width: 60%;
  }
}

.input-range {
  margin-bottom: 160px;
}

/* ============================ */

/* CREDIT CARD STYLES ANIMATION */

.card-container {
  transition: 0.5s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card-container.active {
  transform: rotateY(180deg);
}

.card-bank-back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.info {
  background: repeating-linear-gradient(
    skyblue 0,
    skyblue 5px,
    orange 5px,
    orange 10px
  );
}

@layer components {
  .background-img {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .background-visa {
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .background-mastercard {
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
