.img-nuestraMision {
  background-image: url('/imgs/nosotros/about3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

@media (max-width: 768px) {
  .img-nuestraMision {
    width: 100%;
    height: 250px;
  }
}
