.img-porqueElegirnos {
  background-image: url('/imgs/nosotros/about2.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

@media (max-width: 768px) {
  .img-porqueElegirnos {
    width: 100%;
    height: 250px;
  }
}
