.img-porqueElegirnos {
  background-image: url('/imgs/nosotros/header/02_POR_ELEGIRNOS.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: auto;
  margin-bottom: auto;

}

@media (max-width: 768px) {
  .img-porqueElegirnos {
    width: 100%;
    height: 250px;
  }
}
