
.itemBanner{
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 150px;
  position: relative;
}
.itemBanner::before{
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (min-width: 120px) {
  .itemBanner {
    height: 140px;
  }
}
@media (min-width: 300px) {
  .itemBanner {
    height: 200px;
  }
}
@media (min-width: 768px) {
  .itemBanner {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .itemBanner{
    height: 700px;
  }
}
